@font-face {
    font-family: pangramLight;
    src: url("./lib/fonts/Pangram-Light.otf");
}

@font-face {
    font-family: pangramRegular;
    src: url("./lib/fonts/Pangram-Regular.otf");
}

@font-face {
    font-family: FuturaMD_BT;
    src: url("./lib/fonts/Futura-medium-bt.ttf");
}


/* ****************************************** */

.App {
  text-align: center;
  display: flex;
  height: calc(100vh - 110px);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.separator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 5px;
  height: 100vh;
  margin: auto;
  z-index: 1;
  background: #00ffe9;
}

.winner {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000000ad;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  justify-content: center;
  -webkit-transition: all ss;
  transition: all 1s;
  -webkit-animation: .5s ease-in 1s 1 appear forwards;
  animation: 1s ease-in 0.5s 1 appear forwards;
}


.winner img {
  opacity: 0;
  transform: scale(0);
  animation: .5s ease-in 1.5s 1 appearScale forwards;
}

.error {
  color: red;
  text-align: center;
  font-size: 1rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
