.editor-container {
	/*position: absolute;*/
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
}

.game-instructions {
	color: white;
	font-weight: 300;
    width: 80%;
    margin: auto;
}

.editor-container form {
	position: relative;
    height: 60%;
    padding: 30px;
    text-align: right;
}

.editor-container form input[type=submit] {
	padding: 8px 15px;
}

.game-link {
	text-decoration: none;
	color: white;
	outline: none;
}

.game-link:hover {
	text-decoration: none;
	color: #9a9da0;
}

.corner-br {
	position: absolute;
    bottom: 20px;
    right: 20px;
}

.code {
	width: 100%;
	height: 100%;
	padding: 20px;
	background-color: #282c34;
	border: 1px solid #9a9da0;
	outline: none;
	color: white;
}