body {
	background-color: #282c34 !important;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
	/*background-color: #282c34;*/
}

.game-navbar {
	z-index: 10;
}

.menu-item {
	padding: 8px;
	border-right: 1px solid #6a96a3;
}

.menu-item:hover {
    background-color: #505b67;
}

.border-l {
	border-left: 1px solid #6a96a3;
}

.footer {
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
	background: #343a40;
    padding: 10px;
    text-align: right;
    z-index: 10;
}

.challenge-link {
    color: #9a9da0;
}

.challenge-link:hover {
    color: rgba(255,255,255,.75);
}

.btn-main {
	background-color: white;
    border: 1px solid #9a9da0;
    color: #343a40;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 5px #00000029;
    transition: .2s all;
}

.btn-main:hover {
	background-color: #343a40;
	color: #9a9da0;
}

/* Chat box stuff */
.login-chat-container {
    
    position: absolute;
    right: 20px;
    bottom: 70px;
    z-index: 5;
    width: 500px;
    height: 200px;
    padding-top: 10px;
    background-color: #282c34;
    box-shadow: 0 3px 10px 1px #00000059;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.login-chat-container.close{
    /*right: -100%;*/
    display: none;
}
.login-chat-title {
    color: white;
    font-size: 22px;
    font-weight: 300;
    padding: 10px;
}

#saveUsernamebox {
    font-size: 20px;
    padding: 5px 25px;
    outline: none; 
    font-family: pangramLight;  
}

.login-chat-submit { 
    font-size: 18px;
    color: white;
    margin: 10px auto;
    padding: 5px 20px;
    background-color: #00ffe9;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    box-shadow: 0 2px 5px #00000029;
    border-radius: 40px;
}

.login-chat-submit:hover {
    color: #00ffe9;    
    background-color: white;
}
 .chatbox-container {
    position: absolute;
    right: -100%;
    opacity: 0;
    width: 25%;
    bottom: 60px;
    font-family: pangramLight;
    font-size: 14px;
    z-index: 2;
    border-radius: 2px;
    border: 2px solid #1b1f27;
    background-color: #263238;
    transition: all 0.5s ease;
    box-shadow: 0 2px 10px 2px #00000066;
}
 .chatbox-container.show {
    right: 0px;
    opacity: 1; 
}
 .chatbox-topbar {
    width: 100%;
    padding: 5px;
    background-color:#1b1f27;
    
}
.close-chatbox {
    text-align: right;   
    font-size: 18px;
    color: #84f4ea;
    
}
.close-button {
    padding: 5px;
    
}
.close-button:hover {
    cursor: pointer;
    color: #43cabe;
}
.fa-window-close {
    
}
 .chatbox {
    height: 200px;
    padding-top: 10px;
    overflow-y: auto;
}
.chatbox-list {
    
    padding: 0;
    padding-left: 5px;
    list-style-type: none;
    width: 100%;
 }
.chatbox-list-item {
    
    
    color: white;
}
.form-box {
    width: 100%; 
    color: white;
    display: flex;
    
}
 #sendMsg {
    width: 90%;
    margin: auto;
    padding: 5px 15px;
    outline: none;
    border-radius: 20px;
    margin-bottom: 5px;
    border: 1px solid #b8ddda;
}
.sendChat {
    width: 35px;
    background-color: #00ffe9;
    transition: all 0.3s;
    border: 1px solid #00ffe9;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 5px;
    text-align: center;
    border-radius: 100%;
}
.sendChat:hover {
    cursor: pointer;
    color: #00ffe9;
    background-color: white;   
}
.sendChat-container {
    margin: 0 auto;
}
 /*End chat box stuff*/
